body {
  background-color: #f3f3f3;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

p {
  font-size: 16px;
}

.top_controls {
  margin-top: 20px;
  margin-bottom: 20px;
}

.scene_picker {
  position: absolute;
  top: 20px;
  left: 20px;
}
.render_controls {
  margin-top: 20px;
  margin-bottom: 20px;
}

.simulation_controls {
  margin-top: 20px;
  margin-bottom: 20px;
}

.audio_controls {
  margin-top: 20px;
  margin-bottom: 20px;
}

#GLCanvas1 {
  border: 2px solid #000;
  margin-left: auto;
}

#impulsePlot {
  top: 10;
  margin-left: auto;
  background-color: #f3f3f3;
}

.title {
  z-index: 2;
  font-weight: bold;
  text-shadow:
    -.1px -.1px 0 #fff,
    .1px -1px 0 #fff,
    -1px .1px 0 #fff,
    .1px .1px 0 #fff; 
  pointer-events: none;
  font-size: 48px;
}

button {
  background-color: #a3a3a3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  opacity: 0.6;
}

button.source {
  background-color: blue;
}

button.receiver {
  background-color: red;
}

button.external {
  background-color: #323232
}

button.reflect {
  border: 2px solid #000;
}

button.extract {
  border: 2px solid #FF0000;
}

button.response {
  border: 2px solid #000;
}